.wrapper {
    margin: 0 auto;
    padding: 0 4%;
}

footer{
    background-color:black;
    height:200px;
}

p{
    color:white;
}

.container{
    display:flex;
    justify-content:center;
}

li {
    list-style: none;
}

li span{
    color:dimgrey;
}

.corporation p {
    font-size: 1.5rem;
}