<div class="container wrapper">
    <button class="button">join us</button>|<button class="button">sign in</button>
</div>

<div class="second-container">
    <div class="logo">
        <button class="button">search</button>
        <button class="button">J</button>
    </div>
    <nav>
        <ul class="main-nav">
            <li><a href=""></a>New Releaes</li>
            <li><a href=""></a>Men</li>
            <li><a href=""></a>Women</li>

        </ul>
    </nav>

    <div class="button-container">
        <button class="button">search</button>
        <button class="button">J</button>
    </div>

</div>
