<div class="login-container wrapper">
    <button class="button">join us</button>|<button class="button">sign in</button>
</div>

<div class="second-container wrapper">
    <div class="logo"></div>
    <ul ngbNav #nav="ngbNav">
        <li ngbNavItem>
            <a ngbNavLink><span class="categories">New Releaes</span></a>
        </li>
        <li ngbNavItem>
            <a ngbNavLink><span class="categories">Men</span></a>
        </li>
        <li ngbNavItem>
            <a ngbNavLink><span class="categories">Women</span></a>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
    <div class="button-container">
        <button class="button"><i class="fa fa-search"></i><input class="search-text" type="text" placeholder="search"></button>
        <button class="button" [disabled]="true"><i class="fa fa-shopping-cart"></i></button>
    </div>
</div>
