<div class="login-container wrapper">
    <button class="button">join us</button>|<button class="button">sign in</button>
</div>

<div class="second-container wrapper">
    <div class="logo">
    </div>
    <nav>
        <ul class="main-nav">
            <li><a href=""></a>New Releaes</li>
            <li><a href=""></a>Men</li>
            <li><a href=""></a>Women</li>

        </ul>
    </nav>

    <div class="button-container">
        <button class="button"><i class="fa fa-search"></i><input class="search-text" type="text" placeholder="search"></button>
        <button class="button" [disabled]="true"><i class="fa fa-shopping-cart"></i></button>
    </div>

</div>
