<ngb-carousel *ngIf="latestGarmentList">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="row">
                <div class="col">
                    <span>
                        <img class="img-fluid" [src]="latestGarmentList[0].imageUrl" alt="Random first slide">
                        <div class="row">
                            <span class="col">{{latestGarmentList[0].productName}}</span>
                            <span class="col text-right mr-1 price">{{latestGarmentList[0].price|currency : "USD" : "symbol" : "1.0-0"}}</span>
                        </div>
                    </span>
                </div>
                <div class="col">
                    <img class="img-fluid" [src]="latestGarmentList[1].imageUrl" alt="Random first slide">
                    <div class="row">
                        <span class="col">{{latestGarmentList[1].productName}}</span>
                        <span class="col text-right mr-1 price">{{latestGarmentList[0].price|currency : "USD" : "symbol" : "1.0-0"}}</span>
                    </div>
                </div>
                <div class="col">
                    <img class="img-fluid" [src]="latestGarmentList[2].imageUrl" alt="Random first slide">
                    <div class="row">
                        <span class="col">{{latestGarmentList[0].productName}}</span>
                        <span class="col text-right mr-1">{{latestGarmentList[0].price|currency : "USD" : "symbol" : "1.0-0"}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" [src]="latestGarmentList[3].imageUrl" alt="Random first slide">
                    <div class="row">
                        <span class="col">{{latestGarmentList[0].productName}}</span>
                        <span class="col text-right mr-1">{{latestGarmentList[0].price|currency : "USD" : "symbol" : "1.0-0"}}</span>
                    </div>
                </div>
                <div class="col">
                    <img class="img-fluid" [src]="latestGarmentList[4].imageUrl" alt="Random first slide">
                    <div class="row">
                        <span class="col">{{latestGarmentList[0].productName}}</span>
                        <span class="col text-right mr-1">{{latestGarmentList[0].price|currency : "USD" : "symbol" : "1.0-0"}}</span>
                    </div>
                </div>
                <div class="col">
                    <img class="img-fluid" [src]="latestGarmentList[5].imageUrl" alt="Random first slide">
                    <div class="row">
                        <span class="col">{{latestGarmentList[0].productName}}</span>
                        <span class="col text-right mr-1">{{latestGarmentList[0].price|currency : "USD" : "symbol" : "1.0-0"}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" [src]="latestGarmentList[6].imageUrl" alt="Random first slide">
                    <div class="row">
                        <span class="col">{{latestGarmentList[0].productName}}</span>
                        <span class="col text-right mr-1">{{latestGarmentList[0].price|currency : "USD" : "symbol" : "1.0-0"}}</span>
                    </div>
                </div>
                <div class="col">
                    <img class="img-fluid" [src]="latestGarmentList[7].imageUrl" alt="Random first slide">
                    <div class="row">
                        <span class="col">{{latestGarmentList[0].productName}}</span>
                        <span class="col text-right mr-1">{{latestGarmentList[0].price|currency : "USD" : "symbol" : "1.0-0"}}</span>
                    </div>
                </div>
                <div class="col">
                    <img class="img-fluid" [src]="latestGarmentList[8].imageUrl" alt="Random first slide">
                    <div class="row">
                        <span class="col">{{latestGarmentList[0].productName}}</span>
                        <span class="col text-right mr-1">{{latestGarmentList[0].price|currency : "USD" : "symbol" : "1.0-0"}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="swiper-scrollbar">
        <div class="swiper-scrollbar-drag">
        </div>
    </div>
</ngb-carousel>